:root {
  --size: 0.5rem;
  --hue: 190;
  background: #f0f0f0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--size);
}

a:link {
  color: hsl(var(--hue), 70%, 30%);
}
a:visited {
  color: hsl(var(--hue), 30%, 30%);
}

h1 {
  text-decoration: underline;
  text-align: right;
}

section {
  border: 1px solid #ccc;
  padding: var(--size);
  margin: var(--size) 0;
}

section > h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form label {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;
}

form label input {
  border: 1px solid #ccc;
  flex: 0 1 calc(100% - 10rem);
  font: inherit;
  margin-left: 1em;
  margin-bottom: var(--size);
  padding: var(--size);
}

button {
  appearance: none;
  background: hsl(var(--hue), 30%, 60%);
  border: 0;
  font: inherit;
  padding: var(--size);
  margin: var(--size) 0;
}

button:active {
  background: #ccc;
}
button:disabled {
  color: #888;
  background: hsl(var(--hue), 5%, 80%);
}

.info,
.error {
  border: 1px solid hotpink;
  background: pink;
  padding: var(--size);
}
.info {
  border-color: lime;
  background: lightgreen;
}

.blog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 1.5;
  padding: var(--size);
}
.blog:not(:first-of-type) {
  border-top: 1px solid hsl(var(--hue), 25%, 85%);
}

.blog-actions {
  display: inline-flex;
  flex-flow: row nowrap;
}

.blog-actions button {
  padding: 0 var(--size);
  margin: 0 0 0 var(--size);
  min-width: 1.5em;
  min-height: 1.5em;
}

.blog .details {
  width: 100%;
}

.blog.expanded {
  background: #fff;
  margin-bottom: var(--size) 0;
}
