:root {
  --size: 0.5rem;
  --hue: 190;
  background: #f0f0f0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--size);
}

a:link {
  color: hsl(var(--hue), 70%, 30%);
}
a:visited {
  color: hsl(var(--hue), 30%, 30%);
}

h1 {
  text-decoration: underline;
  text-align: right;
}

section {
  border: 1px solid #ccc;
  padding: var(--size);
  margin: var(--size) 0;
}

#root > div > section {
  margin: 0 auto;
  max-width: 600px;
}

section > h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form label {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;
}

form label input {
  background-image: linear-gradient(
    to bottom,
    #f0f0f0,
    #f0f0f0 20%,
    #fff 80%
  );
  border: 1px solid #ccc;
  flex: 0 1 calc(100% - 10rem);
  font: inherit;
  margin-left: 1em;
  margin-bottom: var(--size);
  padding: var(--size);
}
form label input:disabled {
  background: none;
  border-color: transparent;
  padding-left: 0;
}

button {
  appearance: none;
  background: hsl(var(--hue), 30%, 60%);
  border: 0;
  font: inherit;
  padding: var(--size);
  margin: var(--size) 0;
}

button:active {
  background: #ccc;
}
button:disabled {
  color: #888;
  background: hsl(var(--hue), 5%, 80%);
}

.navbar {
  background-image: linear-gradient(to bottom, #fff6, #fff0);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 0 0 -0.5em;
  padding: 1em 0;
}
.navbar a {
  margin: 0 0.5em;
}
.navbar .login-info {
  margin-left: auto;
}


.login-info > span {
  font-style: oblique;
  opacity: 0.5;
}
.login-info button {
  margin-left: 1em;
}

.info,
.error {
  border: 1px solid hotpink;
  background: pink;
  padding: var(--size);
}
.info {
  border-color: lime;
  background: lightgreen;
}

.blog {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.5;
  padding: var(--size);
}
.blog:not(:first-of-type) {
  border-top: 1px solid hsl(var(--hue), 25%, 85%);
}

.blog-details {
  background-color: #fff;
  box-shadow: 0 var(--size) var(--size) calc(-0.75 * var(--size)) #0003;
  padding: var(--size);
  margin-bottom: var(--size);
}

.blog-details p {
  margin: 0 0 var(--size) 0;
}

.blog > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.blog-actions {
  flex: 0 0 auto;
  display: inline-flex;
  flex-flow: row nowrap;
}

.blog-actions button {
  padding: 0 var(--size);
  margin: 0 0 0 var(--size);
  min-width: 1.5em;
  min-height: 1.5em;
}

.blog.expanded {
  background-image: linear-gradient(to bottom, transparent, #fff);
  margin-bottom: var(--size) 0;
}
